/* ************** */

body{
    background-image: url(/assests/img/background.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

/* Home Page */

/* calculator */

.weather{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    
}

.cal_heading{
    margin-top: 40px;
    -webkit-text-stroke: 1px #FFFFFF;
    text-align: center;
    align-items: center;
    font-family: Snowburst One;
}

.cal_wrapper{
    border: 5px solid #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 12vh;
    background-color:#4667B8;
    
}

.display{
    margin-left: 5px;
    margin-right: 5px;
    width: 98%;
    color: red;
    background-color: antiquewhite;
}

.display_input{
    background-color: #faebd7;
    font-weight: bold;
    caret-color: transparent;
    outline: none;
    height: 70px;
    width: 100%;
    border: none;
    
}
.cal_btn{
    background-color: #ffebec;
    color: #2b8bd8;
    height: 50px;
    width: 100%;
    border: none;
}

.cal_btn:hover{
    background-color: #aea5bd;
    width: 100%;
}

.col{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
